langchain
langchain-openai
langchain-community
langgraph

chromadb
tiktoken

rank-bm25

openai

numpy
pandas

python-dotenv
pydantic

prometheus-client

fastapi
uvicorn[standard]

colorlog

jupyter
notebook

pytest
pytest-asyncio

typing-extensions
